.text-field {
    -fx-control-inner-background: #9E9E9E;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}


.styled-tab-pane .tab {
    -fx-background-color: #303030;
}


.styled-tab-pane .tab:selected {
    -fx-background-color: #505050;
    -fx-border-width: 3;
}


.styled-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #000000;

}


.styled-tab-pane .tab .focus-indicator {
    -fx-focus-color: transparent;
}


.styled-tab-pane .tab .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: #DFDFDF;
}


.styled-tab-pane .tab-content-area {
    -fx-padding: 0;
    -fx-margin: -1px 0 0 0;
}


.styled-tab-pane .tab-content-area {
    -fx-padding: 0;
    -fx-margin: -1px 0 0 0;
}


#applyValuesButton {
    -fx-background-color: #967916;
    -fx-font-weight: bold;
    -fx-text-fill: #DFDFDF;
    -fx-effect: dropshadow(gaussian, #9E9E9E, 5, 0, 0, 0);


}

#applyValuesButton:hover {
    -fx-background-color: #C3A331;
}

#applyValuesButton:armed {
    -fx-background-color: #E2C55D;
}

#removeButton {
    -fx-background-color: #A81B1B;
    -fx-font-weight: bold;
    -fx-text-fill: #DFDFDF;
    -fx-effect: dropshadow(gaussian, #9E9E9E, 3, 0, 0, 0);
}

#removeButton:hover {
    -fx-background-color: #C3314B;
}

#removeButton:armed {
    -fx-background-color: #E25D6D;
}

.scroll-bar {
    -fx-background-color: #303030;
}

.scroll-bar .thumb {
    -fx-background-color: #505050;
}

#return-button {
    -fx-background-color: #9f8216;
    -fx-text-fill: #DFDFDF;
    -fx-font-weight: bold;
}

#return-button:hover {
    -fx-background-color: #C3A331;
}

#return-button:armed {
    -fx-background-color: #E2C55D;
}

.headline-label {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-alignment: center;
    -fx-text-fill: #DFDFDF;
}

.transform-section {
    -fx-background-color: #505050;
}

.julia-z-label {
    -fx-font-size: 25px;
}

.julia-label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
}